/*Owner:holoarcher*/
body{
  background-color: white;
  margin: 0;
  padding: 0;

}

/*Color*/

  :root {--col1:#002334;}
  :root {--col2:#158ECD;}
  :root {--col3:#005581;}
  :root {--col4:#6A6968;}
  :root {--col5:#DB8415;}

/*Header*/

.header{
  text-align: center;
  font-size: 50px;
  background-color: var(--col1);
  margin: 0;
  padding:1em;
  color: white;
}

h1, h2, p, a{
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-decoration: none;
}

/*Navi*/

.navi-bar{
  background-color: var(--col2);
  list-style: none;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 0;
  text-align: center;
  transition-duration: 0.5s;
  opacity: 0.8;
  display:inline-block;
}

.navi-bar:hover{
  opacity: 1;
  transition-duration: 0.5s;
}

.navi-bar li{
  display: inline;
  width: 100%;
}

.navi-bar a{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  color: white;
  font-size: 20px;
  transition-duration: 1s;
}

.navi-bar a:hover{
  color:var(--col1);
  transition-duration: 0.5s;
}
.navi-current{
  background-color: var(--col1);
}
/*Content*/
.content-main{
  padding:inherit;
  padding-top: 3%;
  display:flex;
padding:2em

}
.block1{
  display:inline-flex;
  color: white;
  flex-grow: 2;
  flex-shrink: 2;
  flex-wrap:wrap;
  justify-content:center;
  overflow: hidden;

}
.block-con{
  background-color: rgba(50,255,255,0.9);
  height: 100%;
  width: 100%;
}
.block2{
  padding:inherit;
  height: 300px;
  max-width: 300px;
  overflow:hidden;
  justify-content:center;
  display: flex;
  margin: 10px;
  transition: 0.5s;
}
.block2:hover{
  height: 310px;
  max-width: 310px;
  margin:0;
}
/*<img src="media/pic1.jpeg" alt="" class="img">*/

/*images*/
.image{
  top: 50%;
  height: 100%;
  left: 50%;
}
