/*Owner:holoarcher*/
body{
  background-color: white;
  margin: 0;
  padding: 0;

}

a{
  font-family: arial;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-decoration: none;
}

/*Color*/

  :root {--col1:#002334;}
  :root {--col2:#158ECD;}
  :root {--col3:#005581;}
  :root {--col4:#6A6968;}
  :root {--col5:#DB8415;}

/*Header*/

.header{
  text-align: center;
  font-size: 50px;
  background-color: var(--col1);
  margin: 0;
  padding:1em;
  color: white;
}

h1{
  padding: 0;
  margin: 0;
}

/*Navi*/

.navi-bar{
  background-color: var(--col2);
  list-style: none;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 0;
  text-align: center;
  transition-duration: 0.5s;
  opacity: 0.8;
  display:inline-block;
}

.navi-bar:hover{
  opacity: 1;
  transition-duration: 0.5s;
}

.navi-bar li{
  display: inline;
  width: 100%;
}

.navi-bar a{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  color: white;
  font-size: 20px;
  transition-duration: 1s;
}

.navi-bar a:hover{
  color:var(--col1);
  transition-duration: 0.5s;
}
.navi-current{
  background-color: var(--col1);
}
/*Content*/
.content-main{
  padding:10%;
  padding-top: 3%;
  display:table;
  max-width: 80%;
}
.block1{
  display: inline-block;
  width:25%;
  padding-right:4%;
  padding-left:4%;
}
