/*Owner:holoarcher*/
body{
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

/*Color*/

  :root {--col1:#fafafa;}
  :root {--col2:#ff1a00;}
  :root {--col3:#005581;}
  :root {--col4:#6A6968;}
  :root {--col5:#DB8415;}


h1{
  font-family: monospace;

}

h4 a{
  font-size: 25px;
  color: #565656;
}

a, p{
  text-decoration: none;
}

h1, h3{
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-decoration: none;
  cursor: default;
  margin: 0;
}

h3, p{
  margin: 0px;
  margin-top: 5px;
}

li{
  list-style-type: none;
}

p, h2{
  padding-left:5%;
  padding-right: 5%;
  font-family: sans-serif;
}

/*Header*/

.header{
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 5%;
  background-color: white;
  color: var(--col3);
}

/*Navi*/

.navi-bar{
  background-color: var(--col1);
  list-style: none;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 0;
  text-align: center;
  display: inline-block;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  margin-bottom: 1em;
}

.navi-bar li{
  display: inline;
  width: 100%;
}

.navi-bar a{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;

  color: var(--col3);
  font-size: 20px;
  transition-duration: 1s;
  font-family: "Roboto", sans-serif;
}

/*Content*/

.content-main{
  padding:10%;
  padding-top: 3%;
  display: flex;
  padding-top: 0;

}

.content-about{
  padding-top: 3%;
  display: flex;
  padding: 15%;
  padding-top: 0;
}

.content-imp{
  padding-top: 3%;
  display: block;
  padding: 15%;
  padding-top: 0;
}
.content-imp h2, a{
    border-bottom: 2px solid #ebebeb;

}
.contain-img{
  display: inline-flex;
  flex-grow: 2;
  flex-shrink: 2;
  padding: inherit;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  column-count: 10;
}

/*<img src="media/pic1.jpeg" alt="" class="img">*/

/*images*/

/* FOOTER*/
footer{
  width: 96%;
  background-color: var(--col1);
  bottom: 0px;
  padding: 2%;
  margin-top: 5em;
  text-align: center;
  border-top: 2px solid #ebebeb;
  font-size: 15px;
  font-family:"Roboto", sans-serif;
  Color: #737373;
}
.material-icons {
  font-size: 15px!important;
}

.brick .masonry{
  margin-bottom: 30px;
}
@media only screen and (min-width: 1024px)
.masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.masonry {
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    -moz-column-fill: initial;
    -webkit-column-fill: initial;
    column-fill: initial;
    column-count:3;
    padding-top: 3%;
    padding: 15%;
    padding-top: 0;
 }
.brick{
  display: block;
}
img{
  vertical-align: bottom;
  max-width: 100%;
}
